section.contact{
    margin-top: 60px;
    padding: 16px;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1,p{
        text-align: center;
    }
    form{
        margin-top: 30px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        align-items: center;
        input, textarea{
            width: 100%;
            background-color: $color-black;
            border: none;
            border-bottom: 2px solid $color-greysoft;
            color: $color-grey;
            padding:  20px;
        }
        button{
            margin-top: 30px;
            width: 70%;
            justify-self: stretch;
            padding: 10px 15px;
            border-radius: 8px;

        }
        button:hover{
            background-color: $color-black;
            color: $color-greysoft;
            border: 1px solid $color-greysoft;
        }
        @include breakpoint(desktop){
            input, textarea{
                width: 90%;
                background-color: $color-black;
                border: none;
                border-bottom: 2px solid $color-greysoft;
                color: $color-grey;
                padding:  20px;
            }
            button{
                margin-top: 30px;
                width: 30%;
                justify-self: stretch;
                padding: 10px 15px;
                border-radius: 8px;
    
            }
                
            }

    }
    

}
@include breakpoint(desktop){
  
        section.contact{
        padding: 0px 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        h2{
            text-align: center;
            grid-column:  span 2;
            margin-bottom: 20px;
        }
        div{
            *{
                text-align: start;
            }
            padding: 30px 0px;
        }
    }
    
    
    
}