main{
    section{
    padding: 0px 30px;
    }
    section.hero{
        width: 100vw;
        margin-top: 150px;
        margin-bottom: 120px;
        background-color: $color-greysoft;
        background-image: url(../img/pelu.png);
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        color: $color-black;
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
       
    }
    div.reserva{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        a{
            color: $color-black;
            text-decoration: none;
            background-color: $color-greysoft;
            padding: 20px 30px;
            border-radius: 8px;
        }
        a:hover{
            background-color: $color-black;
            color: $color-greysoft;
            border: 1px solid $color-greysoft;
        }
    }
    section.servicios{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div.servicios-grid{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 50px;
            @include breakpoint(desktop){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;
                margin-top: 50px;
                height: fit-content;
            }
            div.servicio{
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                text-align: center;
                background-color: $color-greysoft;
                color: $color-black;
                padding: 15px;
                min-height:150px ;
                *{
                    margin-top: 15px;
                    margin-bottom: 5px;
                }
            }
        }
       
    }
    section.galeria{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div.galeria-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            margin-top: 50px;
            width: 100%;
            img{
                width: 100%;
            }
            
        }
    }
}